doctype html
html
  head
    meta(charset='UTF-8')
    title Title goes here
    link(href='./static/styles/main.css', type='text/css', rel='stylesheet')
    link(href='./static/styles/styles.css', type='text/css', rel='stylesheet')
  body
    include include/header.jade

    p.index-page-paragraph Welcome!

    include include/footer.jade

    script(src='https://code.jquery.com/jquery-2.2.1.min.js')
    script(src='./static/scripts/scripts.js')
